@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .portal-pic {
    height: 100vh;
  }
  .img-collaction {
    transform: translateY(-45px) scale(1.3);
  }
  .hover-collaction:hover .img-collaction {
    transform: translateY(-30px) scale(1.2);
  }
  .img-collaction2 {
    transform: translate(-37px, -126px) scale(1.3);
  }
  .hover-collaction:hover .img-collaction2 {
    transform: translate(-37px, -126px) scale(1.2);
  }
}
@media (max-width: 1199.98px) {
  header {
    background-color: rgba(16, 16, 16, 0.95);
  }
  .border-cart {
    margin-bottom: 1rem;
  }
  .border-bottom-cart {
    padding: 0;
    border-bottom: unset;
  }
  .card-product {
    border-bottom: 1px solid #dddd;
    margin-right: 15px;
    padding-right: 0;
  }
  .display-1 {
    font-size: 3.51562rem;
  }
  .owl-thumbs .owl-thumb-item {
    display: inline-block;
    max-width: 5rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .w-lg-0 {
    width: unset !important;
  }
  .dropdown-menu {
    position: absolute !important;
    width: unset;
    transform: unset !important;
    top: 0;
    transform: translate3d(-140px, 39px, 0px) !important;
  }
  .dropdown-menu-mega {
    min-width: 70rem;
    top: 2.5rem !important;
    right: -3.5rem !important;
    left: unset !important;
    padding: 0;
    transform: translate3d(0px, 0px, 0px) !important;
  }
  .dropdown-menu div ul li {
    margin-bottom: 0.7rem;
  }
  .box-image-menu {
    height: 100%;
  }
  .text-menu-img {
    position: absolute;
    bottom: 0;
  }
  header {
    background: unset;
  }
  .border-xl-left {
    border-left: 1px solid #2b2b2b;
  }
  .border-bottom {
    border-bottom: unset !important;
  }
  .border-top-cart {
    padding-right: unset;
    margin-right: unset;
    border: unset;
  }
  .cart-item-close {
    border-radius: 50%;
    height: 35px;
    margin: auto;
    border: unset;
  }
  .cart-item-close:hover,
  .cart-item-close {
    background-color: unset;
  }
  .icon-xl {
    width: 37px;
    height: 37px;
    background: #dddddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  .icon-xl:hover {
    background: #b8b8b8;
  }
  .border-cart {
    border: unset;
  }
  .carousel-caption h2 {
    font-size: 5rem;
    line-height: 6rem;
  }
  .cart-item-close .icon-close {
    background: #dddd;
  }
  .cart-item-close .icon-close:hover {
    background-color: rgba(194, 194, 194, 0.867);
  }
  #breadcrumb {
    padding-top: 72px;
  }
}
